<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5 Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
</head>

<body class="centered">
    <div class="container">
        <h1>Welcome to the PM2.5 Dashboard</h1>
        <img src="{{ url_for('static', filename='image/background.jpg') }}" alt="Background Image"
            style="width:100%; height:auto;">
        <a href="/dashboard/"><button class="start-button">เริ่ม</button></a>
    </div>
    <div id="pm25-graph"></div>
</body>

</html>